<div class="container-fluid container-header container-header-sobre" style="margin-top: 0px;">
  <div class="container">
    <h1>SOBRE</h1>
    <h6>O Parque Berçário e Escola</h6>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <img src="../../../assets/logo/logo-azul.png" alt="image" class="img-fluid">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <p>O PARQUE BERÇARIO E EDUCAÇÃO INFANTIL surgiu do sonho da sua fundadora, que acredita que o desenvolvimento de uma
          sociedade mais justa e igualitária acontece a partir da educação, tendo os indivíduos como protagonistas da transformação.
          Daí pensou num projeto que atendesse as famílias e principalmente as crianças num espaço cuidadosamente preparado
          para que se desenvolvam brincando, alimentando-se, tendo carinho e atenção que necessitam, especialmente, nos seus
          primeiros anos de vida.</p>
      </div>

      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <p>As transformações vividas pela sociedade no final do século passado, atingiu substancialmente a Educação e demais
          ciências. A ideia que se tinha de criança, de conhecimento, de escola, de métodos de trabalho, de ensino evoluiu,
          acompanhando o ritmo da vida que é puro movimento.</p>

        <p>
          Neste contexto, os berçários também evoluíram de tal maneira que a partir da Constituição de 1988, aparecem pela primeira
          vez no capítulo sobre Educação, considerando este atendimento como direito da criança.
        </p>

        <p>Nesta perspectiva, as práticas educacionais, além de exigirem ações adequadas às necessidades educativas e aos cuidados
          específicos, referentes à faixa etária de zero a três anos, pressupõem ainda o desenvolvimento de práticas de qualidade,
          que permitam a inserção equitativa e participativa dessas crianças no universo social, cultural, econômico e político
          da realidade brasileira.</p>
      </div>
      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <img src="../../../assets/sobre/01.jpg" alt="image" class="img-fluid">
      </div>

      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <br>
        <img src="../../../assets/sobre/02.jpg" alt="image" class="img-fluid">
      </div>

      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <br>
        <p>Em consonância com a lei e comprometida com a oferta de serviço de qualidade, o PARQUE – BERÇARIO E EDUCAÇÃO INFANTIL
          adapta-se à nova faixa etária com novos espaços e práticas educativas inovadoras, atendimento das necessidades
          básicas de educação, afeto e socialização adequados à nova realidade, tornando-se uma instituição de Educação Infantil,
          que atende e acompanha crianças de forma holística, consideração sua fase desenvolvimento, num ambiente seguro
          e acolhedor, onde ela se sinta amada e reconhecida nos seus esforços, colocando-a em contato com novas oportunidades
          de experimentar, descobrir, manipular objetos e vivenciar situações, enfrentando novas experiências, inclusive
          com a leitura e linguagem escrita.
        </p>

        <p>Com ação educativa concomitante à ação social, propõe desenvolver ao máximo as capacidades cognitivas e linguísticas,
          motrizes, afetivas e de equilíbrio do indivíduo, de relação interpessoal e de atuação e inserção na sociedade,
          através de conteúdos educativos concernentes à etapa atendida. Para isso, assume o compromisso de desenvolver projetos
          que as levarão, cada qual em seu tempo e dentro de suas possibilidades, ao pleno desenvolvimento biopsicossocial
          e cultural.</p>
        <p>
          Nossa meta é a implementação de um Berçário-Escola de qualidade, que favoreça o desenvolvimento, considere os conhecimentos
          e valores culturais que as crianças já trazem e os amplie na construção da autonomia, da criatividade, da capacidade
          crítica e a formação da autoestima.</p>
      </div>

    </div>
  </div>
</div>
