<footer class="footer">
  <div class="footer-copyright blue darken-4">
    <div class="container" style="text-align: center;">
      ©&nbsp; 2017 Copyright Parque Berçário e Escola &nbsp; &nbsp;  &nbsp; &nbsp;
      <a class="grey-text text-lighten-4 right" href="http://avatarb2b.com.br" target="_blank">Desenvolvido por Avatar B2B</a>
    </div>
  </div>
</footer>
