<swiper [config]="config">
  <div class="swiper-wrapper swiper-carousel-home-galeria">
    <div class="swiper-slide swiper-carousel">
      <img md-card-image src="../../../../assets/galeria/01.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/02.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/03.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/04.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/05.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/06.jpg" style="max-width:auto">
    </div>

    <div class="swiper-slide">
      <img md-card-image src="../../../../assets/galeria/07.jpg" style="max-width:auto">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
