<div class="container-fluid container-header container-header-matricula" style="margin-top: 0px;">
  <div class="container">
    <h1>Matrícula</h1>
    <h6>Ingresse seu filho em nosso Parque</h6>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">

      <p>A Matrícula será efetuada durante todo o ano letivo, salvo em caso que não exista vagas.</p>
      <p>10 A matricula será efetuada mediante requerimento do pai do aluno ou do seu responsável legal, dirigindo à Direção
        do Parque - Berçário e Educação Infantil com a seguinte documentação:</p>

      <div class="template-component-list template-component-list-style-4">
        <ul>
          <li>I. cópia da certidão de nascimento e apresentação do original para a devida conferência;</li>
          <li>II. cópia do comprovante de saúde, em que conste estar a criança em dia com a vacinação;</li>
          <li>III. 02 (duas) fotografias 3X4;</li>
          <li>IV. cópia do documento de identida</li>
        </ul>
      </div>
    </div>
  </div>
</div>
