<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../../../assets/slide/slide-01.jpg" class="img-fluid"></div>
    <div class="swiper-slide"><img src="../../../../assets/slide/slide-02.jpg" class="img-fluid"></div>
    <div class="swiper-slide"><img src="../../../../assets/slide/slide-03.jpg" class="img-fluid"></div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
