<nav class="navbar navbar-toggleable-md navbar-light bg-with">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#"><img src="../../../../assets/logo/logo-header.png"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'home']">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'sobre']">Quem Somos</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'estrutura']">Estrutura</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'matricula']">Matrícula</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'galeria']">Galeria</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/site', 'contato']">Contato</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
