<app-slideshow></app-slideshow>

<div class="container-fluid home-matricula">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="container-header-subheader">
          <h2 class="template-section-white ">Como matricular seu filho?</h2>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a style="margin-top: 20px;" md-raised-button color="primary" [routerLink]="['/site', 'matricula']">Ver Detalhes</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="template-component-header-subheader">
    <h2>O Parque Berçário e Escola Oferece</h2>
    <h6>Berçário, Educação Infantil</h6>
    <div></div>
  </div>
  <div class="template-component-feature template-component-feature-style-4 template-component-feature-position-top template-component-feature-size-medium">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul class="lista-destaque">
          <li>
            <div class="template-icon-feature template-icon-feature-name-stroller-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Berçário e Educação Infantil </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-people-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Orientação e Treinamento de Famílias </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-document-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Avaliação Psicomotora e Psicopedagógica </p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul class="lista-destaque">
          <li>
            <div class="template-icon-feature template-icon-feature-name-pencil-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Método Montessoriano </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-yoga-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Yoga e Técnicas de Relaxamento </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-shield-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza">Acompanhamento Psicopedagógico Preventivo </p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <ul class="lista-destaque">
          <li>
            <div class="template-icon-feature template-icon-feature-name-heart-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Educação Emocional </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-security-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Monitoramento Eletrônico </p>
          </li>
          <li>
            <div class="template-icon-feature template-icon-feature-name-cutlery-alt template-icon-feature-size-medium"></div>
            <p class="texto-cinza"> Alimentação Balanceada e Horta Sensorial </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid template-background-color-1 template-section-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="container-horario">
          <div class="template-component-header-subheader template-section-white">
            <h1>Horário de Funcionamento</h1>
            <h6></h6>
            <div></div>
          </div>
          <p>O PARQUE BERÇÁRIO E EDUCAÇÃO INFANTIL funciona de 2ª a 6ª feira das 06:45 as 18:00. O atendimento das crianças
            será feito da seguinte forma, durante todo o ano:</p>
          <p><strong>Integral</strong> <br> das 07:30 as 17:30</p>
          <p><strong>Regime de meio período</strong> <br> 07:30 as 11:30 e das 13:30 as 17:30</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="img-fatured-clock">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="img-center">
        <img src="../../../assets/logo/logo-azul.png" class="img-fluid">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="container-historia">
        <h2 class="texto-cinza" style="text-align: center;">História</h2>
        <p class="texto-cinza">O PARQUE BERÇARIO E EDUCAÇÃO INFANTIL surgiu do sonho da sua fundadora, que acredita que o desenvolvimento de uma
          sociedade mais justa e igualitária acontece a partir da educação, tendo os indivíduos como protagonistas da transformação.
          Daí pensou num projeto que atendesse as famílias e principalmente as crianças num espaço cuidadosamente preparado
          para que se desenvolvam brincando, alimentando-se, tendo carinho e atenção que necessitam, especialmente, nos seus
          primeiros anos de vida.</p>
        <a md-raised-button color="primary" [routerLink]="['/site', 'sobre']">Continue Lendo</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class=" home-matricula">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2 class="template-section-white ">Veja a nossa Galeria de fotos</h2>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a md-raised-button color="primary" [routerLink]="['/site', 'galeria']">Ver Galeria Completa</a>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-carousel></app-carousel>
</div>
