<div class="container-fluid container-header container-header-estrutura" style="margin-top: 0px;">
  <div class="container">
    <h1>Estrutura</h1>
    <h6>Educação de qualidade, comodidade e segurança</h6>
  </div>
</div>
<div class="container-fluid">

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6 col-xs-12">
      <div class="container-header-subheader">
        <h2 class="texto-lilas">Estrutura Fisica</h2>
      </div>
      <img src="../../../assets/estrutura/01.jpg" alt="image" class="img-fluid">
    </div>
    <div class="col-sm-6 col-sm-pull-6 col-xs-12">
      <p>As instalações físicas do PARQUE – BERÇARIO E EDUCAÇÃO INFANTIL foram adaptadas ao fim a que se destina, atende com
        conforto e segurança, crianças de 04 meses a 04 anos e 11 meses. O imóvel é amplo e apresenta condições adequadas
        de localização, acesso, segurança, salubridade, iluminação, saneamento e higiene, com espaços destinados exclusivamente
        ao uso das crianças e dos colaboradores.</p>
      <p>Nele encontra-se:</p>
      <ul>
        <li>05 salas de aula</li>
        <li>01 berçário</li>
        <li>01 secretaria/recepção</li>
        <li>01 cozinha</li>
        <li>01 sala de descanso</li>
        <li>03 banheiros
          <ul>
            <li>
              01 para bebês e crianças até 03 anos, devidamente adaptados,
            </li>
            <li>01 crianças de 03 a 05 anos e 11 meses</li>
            <li>
              01 de uso social
            </li>
          </ul>
        </li>
        <li>Área verde descoberta</li>
        <li>Área de lazer coberta</li>
        <li>Mini parque</li>
        <li>Acesso remoto via internet disponível para os pais e responsáveis</li>
        <li>todas as áreas estão adaptadas segundo as normas de acessibilidade.</li>
      </ul>
    </div>

    <div class="col-sm-6 col-sm-pull-6 col-xs-12">
      <div class="container-header-subheader">
        <h2 class="texto-lilas">Organização Curricular</h2>
      </div>
      <p>Acreditando que a proposta educacional para primeira infância, efetivamente, contribui para o processo através do qual
        as crianças vão se constituindo como sujeitos singulares e históricos, o currículo do PARQUE BERÇARIO E EDUCAÇÃO
        INFANTIL procura criar situações que permitam à criança:</p>
      <div class="template-component-list">
        <ul class="">
          <li>Desenvolver a capacidade de comunicação e expressão</li>
          <li>Solucionar problemas por conta própria, adotando formas mais complexas de raciocínio</li>
          <li>Agir com responsabilidade crescente em sua relação com o meio ambiente físico e social</li>
          <li>Desenvolver a capacidade de analisar criticamente sua própria atuação nas diversas situações</li>
        </ul>
      </div>
      <p>
        Para tanto, é necessário propiciar a elas oportunidades de experimentar, descobrir, manipular objetos e vivenciar situações
        num ambiente seguro e acolhedor permitindo sua independência e autonomia, fazendo-a sentir-se amada e reconhecida
        em suas tentativas, erros e acertos.
      </p>
    </div>
    <div class="col-sm-6 col-sm-push-6 col-xs-12">
      <img src="../../../assets/estrutura/02.jpg" alt="image" class="img-fluid">
    </div>
  </div>
</div>
</div>
