/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "fonts.css";
@import "template.css";

/*GERAL*/

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  color: rgba(255, 255, 255, .87) !important;
}

.img-center {
  width: 100%;
  text-align: center;
}

.img-center img {
  margin: 15px auto;
}

.container-header {
  overflow: hidden;
  text-align: center;
  padding: 46px 0 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 50px;
}

.container-header h1,
.container-header h6 {
  color: #ffffff !important;
  font-family: 'latolight';
}

.container-header h1 {
  font-size: 55px
}

.container-header h6 {
  font-size: 18px
}

.container-header-subheader {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'latolight';
}

.container-header-subheader h6 {
  display: block;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 18px;
}


/*NAVBAR*/

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 !important;
}

@media (max-width: 360px) {
  .navbar .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 990px) {
  button.navbar-toggler.navbar-toggler-right {
    margin-top: 20px;
  }
}

.navbar .nav-item {
  transition: 0.3s;
}

.navbar .nav-item a {
  padding: 25px 20px;
}

.navbar .nav-item.active {
  background: #916080;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
}

.navbar .nav-item:hover {
  background: #b7c72c;
  color: #fff;
}

.navbar .nav-item.active a {
  color: #ffffff !important;
}

.navbar-brand {
  display: inline-block;
  padding: 0 !important;
  margin-right: 1rem;
}

.navbar-brand img {
  height: 70px;
  padding: 0px 0;
  margin-right: 50px;
}


/*home*/

.home-matricula {
  min-height: 150px;
  background: url('./assets/home/pattern.png') center top no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center
}

.home-matricula .col-md-6 {
  text-align: center;
  color: #fff
}

.home-matricula h2 {
  font-weight: lighter;
}

.btn-matricula {
  width: 200px;
  height: 55px;
}

.lista-destaque {
  padding: 0 !important;
  margin: 0 !important;
}

.lista-destaque li {
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem
}

.icon-destaque {
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 10px;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
}

.container-horario {
  padding: 0px 0 25px 0;
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
}

.img-fatured-clock {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-image: url('assets/home/clock-fatured.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.container-horario p {
  color: #fff !important;
}

.alinhamento-ajustes {
  align-items: center;
  justify-content: center;
}

.container-historia {
  padding: 50px 0;
  font-size: 1.2rem;
  text-align: justify;
}

.swiper-carousel-home-galeria .swiper-slide {
  position: relative;
  overflow: hidden !important;
  height: 350px !important;
}

.swiper-carousel-home-galeria .swiper-slide img {
  min-height: 350px !important;
  max-height: 400px;
  max-width: auto !important;
}


/* SOBRE */

.container-header-sobre {
  background-image: url('./assets/sobre/header-01.jpg');
}


/* ESTRRUTURA */

.container-header-estrutura {
  background-image: url('./assets/estrutura/header-01.jpg');
}


/* MATRÍCULA*/

.container-header-matricula {
  background-image: url('./assets/matricula/header-01.jpg');
}


/* GALERIA */

.container-header-galeria {
  background-image: url('./assets/galeria/header-01.jpg');
}

md-card.example-card.mat-card {
    height: 140px;
    overflow: hidden;
    margin: 15px 0;
}

/*CONTATO*/

.contato-container {
  width: 100%;
  text-align: center;
}

.contato-container {
  width: 100%;
  text-align: center;
}

.contato-icon-box {
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 10px;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
}


/*FOOTER*/

footer.footer {
  min-height: 10px;
  padding: 25px 0;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  display: flex;
}
